In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify

In [2]:
engine = create_engine("postgres://qzewnmvp:KLrEMMwqNGoGYgkvTiI5pNANap7CuFbP@ziggy.db.elephantsql.com:5432/qzewnmvp")
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)

In [3]:
session = Session(engine)

In [4]:
engine.table_names()

['fang_stocks_2018_2020',
 'Amazon_stocks',
 'Apple_stocks',
 'Facebook_stocks',
 'Micrsoft_stocks',
 'Netflix_stocks',
 'Google_stocks',
 'Employee_numbers',
 'office_locations',
 'google_revenue',
 'facebook_quarter',
 'facebook_revenue']

In [7]:
bom_df = pd.read_sql("SELECT * FROM fang_stocks_2018_2020", con=engine)

In [8]:
bom_df

,index,Date,Open,High,Low,Adj_Close,Volume,Ticker
0,0,2018-01-02,1172.000000,1190.000000,1170.510010,1189.010010,2694500,AMZN
1,1,2018-01-03,1188.300049,1205.489990,1188.300049,1204.199951,3108800,AMZN
2,2,2018-01-04,1205.000000,1215.869995,1204.660034,1209.589966,3022100,AMZN
3,3,2018-01-05,1217.510010,1229.140015,1210.000000,1229.140015,3544700,AMZN
4,4,2018-01-08,1236.000000,1253.079956,1232.030029,1246.869995,4279500,AMZN
...,...,...,...,...,...,...,...,...
4520,750,2020-12-23,132.160004,132.429993,130.779999,130.764603,88223700,AAPL
4521,751,2020-12-24,131.320007,133.460007,131.100006,131.773087,54930100,AAPL
4522,752,2020-12-28,133.990005,137.339996,133.509995,136.486053,124486200,AAPL
4523,753,2020-12-29,138.050003,138.789993,134.339996,134.668762,121047300,AAPL
4524,754,2020-12-30,135.580002,135.990005,133.399994,133.520477,96452100,AAPL

In [15]:
all_stocks = []
for all in bom_df:
    stocks_dict = {}
    stocks_dict['Date'] = bom_df['Date']
    stocks_dict['Adj_Close'] = bom_df['Adj_Close']
    stocks_dict['Ticker'] = bom_df['Ticker']

In [18]:
all_stocks = [stocks_dict]

In [23]:
all_stocks

[{'Date': 0      2018-01-02
  1      2018-01-03
  2      2018-01-04
  3      2018-01-05
  4      2018-01-08
            ...
  4520   2020-12-23
  4521   2020-12-24
  4522   2020-12-28
  4523   2020-12-29
  4524   2020-12-30
  Name: Date, Length: 4525, dtype: datetime64[ns],
  'Adj_Close': 0       1189.010010
  1       1204.199951
  2       1209.589966
  3       1229.140015
  4       1246.869995
             ...
  4520     130.764603
  4521     131.773087
  4522     136.486053
  4523     134.668762
  4524     133.520477
  Name: Adj_Close, Length: 4525, dtype: float64,
  'Ticker': 0       AMZN
  1       AMZN
  2       AMZN
  3       AMZN
  4       AMZN
          ...
  4520    AAPL
  4521    AAPL
  4522    AAPL
  4523    AAPL
  4524    AAPL
  Name: Ticker, Length: 4525, dtype: object}]

In [ ]:
jsonify_test.to_sql(name='stock_testing', con=engine, if_exists='append', index=True)