In [10]:
import pandas as pd 
import csv 
from datetime import datetime as dt

In [11]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func 
from sqlalchemy import Table, Column, Integer, String, Date, Float
from sqlalchemy import inspect

In [12]:
engine = create_engine('postgres://qzewnmvp:KLrEMMwqNGoGYgkvTiI5pNANap7CuFbP@ziggy.db.elephantsql.com:5432/qzewnmvp')

In [13]:
Base = automap_base()

In [14]:
Base.prepare(engine, reflect=True)

In [15]:
Base.classes.keys()

['Employee_numbers', 'offices', 'employees', 'stocks']

In [16]:
Stocks =Base.classes.stocks

In [17]:
offices = Base.classes.offices

In [18]:
employees = Base.classes.employees

In [19]:
session = Session(bind=engine)

In [20]:
record=session.query(Stocks).first()
record.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x218877c84c8>,
 'Date': datetime.datetime(2018, 1, 2, 0, 0),
 'High': 1190.0,
 'Adj_Close': 1189.01001,
 'Ticker': 'AMZN',
 'Low': 1170.51001,
 'index': 0,
 'Open': 1172.0,
 'Volume': 2694500}

In [21]:
record=session.query(offices).first()
record.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x218877d0708>,
 'Country': 'United States',
 'index': 0,
 'Latitude': 37.33556016,
 'Office': 'Cupertino',
 'Company': 'Apple',
 'Longitude': -122.0146156}

In [22]:
record=session.query(employees).first()
record.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x218877d4308>,
 'Number_of_Employees': 61000.0,
 'Company': 'Microsoft',
 'index': 0,
 'Year': 2005}

In [24]:
for row in session.query(Stocks).limit(50).all():
    print(row.Date, row.Adj_Close, row.Ticker)

2018-01-02 00:00:00 1189.01001 AMZN
2018-01-03 00:00:00 1204.199951 AMZN
2018-01-04 00:00:00 1209.589966 AMZN
2018-01-05 00:00:00 1229.140015 AMZN
2018-01-08 00:00:00 1246.869995 AMZN
2018-01-09 00:00:00 1252.699951 AMZN
2018-01-10 00:00:00 1254.329956 AMZN
2018-01-11 00:00:00 1276.680054 AMZN
2018-01-12 00:00:00 1305.199951 AMZN
2018-01-16 00:00:00 1304.859985 AMZN
2018-01-17 00:00:00 1295.0 AMZN
2018-01-18 00:00:00 1293.319946 AMZN
2018-01-19 00:00:00 1294.579956 AMZN
2018-01-22 00:00:00 1327.310059 AMZN
2018-01-23 00:00:00 1362.540039 AMZN
2018-01-24 00:00:00 1357.51001 AMZN
2018-01-25 00:00:00 1377.949951 AMZN
2018-01-26 00:00:00 1402.050049 AMZN
2018-01-29 00:00:00 1417.680054 AMZN
2018-01-30 00:00:00 1437.819946 AMZN
2018-01-31 00:00:00 1450.890015 AMZN
2018-02-01 00:00:00 1390.0 AMZN
2018-02-02 00:00:00 1429.949951 AMZN
2018-02-05 00:00:00 1390.0 AMZN
2018-02-06 00:00:00 1442.839966 AMZN
2018-02-07 00:00:00 1416.780029 AMZN
2018-02-08 00:00:00 1350.5 AMZN
2018-02-09 00:00:00 1339.599976 AMZN
2018-02-12 00:00:00 1386.22998 AMZN
2018-02-13 00:00:00 1414.51001 AMZN
2018-02-14 00:00:00 1451.050049 AMZN
2018-02-15 00:00:00 1461.76001 AMZN
2018-02-16 00:00:00 1448.689941 AMZN
2018-02-20 00:00:00 1468.349976 AMZN
2018-02-21 00:00:00 1482.920044 AMZN
2018-02-22 00:00:00 1485.339966 AMZN
2018-02-23 00:00:00 1500.0 AMZN
2018-02-26 00:00:00 1521.949951 AMZN
2018-02-27 00:00:00 1511.97998 AMZN
2018-02-28 00:00:00 1512.449951 AMZN
2018-03-01 00:00:00 1493.449951 AMZN
2018-03-02 00:00:00 1500.25 AMZN
2018-03-05 00:00:00 1523.609985 AMZN
2018-03-06 00:00:00 1537.640015 AMZN
2018-03-07 00:00:00 1545.0 AMZN
2018-03-08 00:00:00 1551.859985 AMZN
2018-03-09 00:00:00 1578.890015 AMZN
2018-03-12 00:00:00 1598.390015 AMZN
2018-03-13 00:00:00 1588.180054 AMZN
2018-03-14 00:00:00 1591.0 AMZN

In [ ]:
for row in session.query(employees).limit(50).all():
    print()

In [ ]:
inspector.get_table_names()

In [ ]:
Stocks =Base.classes.fang_stocks_2018_2020

In [ ]:
offices = Base.classes.Employee_numbers

In [ ]:
columns = inspector.get_columns('Employee_numbers')

In [26]:
for row in session.query(employees).all():
    print( row.Number_of_Employees,row.Company,row.Year)

61000.0 Microsoft 2005
12000.0 Amazon 2005
5680.0 Google 2005
None Facebook 2005
985.0 Netflix 2005
16820.0 Apple  2005
71000.0 Microsoft 2006
13900.0 Amazon 2006
10674.0 Google 2006
None Facebook 2006
1300.0 Netflix 2006
20186.0 Apple  2006
79000.0 Microsoft 2007
17000.0 Amazon 2007
16805.0 Google 2007
None Facebook 2007
1542.0 Netflix 2007
23700.0 Apple  2007
91000.0 Microsoft 2008
20700.0 Amazon 2008
20222.0 Google 2008
None Facebook 2008
1644.0 Netflix 2008
35100.0 Apple  2008
93000.0 Microsoft 2009
24300.0 Amazon 2009
19835.0 Google 2009
None Facebook 2009
1883.0 Netflix 2009
36800.0 Apple  2009
89000.0 Microsoft 2010
33700.0 Amazon 2010
24000.0 Google 2010
None Facebook 2010
2180.0 Netflix 2010
49400.0 Apple  2010
90000.0 Microsoft 2011
56200.0 Amazon 2011
32467.0 Google 2011
3200.0 Facebook 2011
2348.0 Netflix 2011
63300.0 Apple  2011
94000.0 Microsoft 2012
88400.0 Amazon 2012
53861.0 Google 2012
4619.0 Facebook 2012
2045.0 Netflix 2012
76100.0 Apple  2012
99000.0 Microsoft 2013
117300.0 Amazon 2013
47756.0 Google 2013
6337.0 Facebook 2013
2022.0 Netflix 2013
84400.0 Apple  2013
128000.0 Microsoft 2014
154100.0 Amazon 2014
53600.0 Google 2014
9199.0 Facebook 2014
2189.0 Netflix 2014
97000.0 Apple  2014
118000.0 Microsoft 2015
230800.0 Amazon 2015
61814.0 Google 2015
12691.0 Facebook 2015
3700.0 Netflix 2015
110000.0 Apple  2016
114000.0 Microsoft 2016
341400.0 Amazon 2016
72053.0 Google 2016
17048.0 Facebook 2016
4700.0 Netflix 2016
116000.0 Apple  2016
124000.0 Microsoft 2017
566000.0 Amazon 2017
80110.0 Google 2017
25105.0 Facebook 2017
5500.0 Netflix 2017
123000.0 Apple  2017
131000.0 Microsoft 2018
647500.0 Amazon 2018
98771.0 Google 2018
35587.0 Facebook 2018
7300.0 Netflix 2018
132000.0 Apple  2018
144000.0 Microsoft 2019
798000.0 Amazon 2019
118899.0 Google 2019
44942.0 Facebook 2019
8600.0 Netflix 2019
137000.0 Apple  2019
163000.0 Microsoft 2020
1298000.0 Amazon 2020
235301.0 Google 2020
58604.0 Facebook 2020
9400.0 Netflix 2020
147000.0 Apple  2020