In [1]:
import pandas as pd 
import csv 
from datetime import datetime as dt

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func 
from sqlalchemy import Table, Column, Integer, String, Date, Float
from sqlalchemy import inspect

In [29]:
engine = create_engine('postgres://qzewnmvp:KLrEMMwqNGoGYgkvTiI5pNANap7CuFbP@ziggy.db.elephantsql.com:5432/qzewnmvp')

In [30]:
Base = automap_base()

In [31]:
Base.prepare(engine, reflect=True)

In [32]:
Base.classes.keys()

['fang_stocks_2018_2020', 'Employee_numbers']

In [17]:
Stocks =Base.classes.fang_stocks_2018_2020

In [18]:
session = Session(bind=engine)

In [23]:
record=session.query(Stocks).first()
record.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1c932ea5c88>,
 'Date': datetime.datetime(2018, 1, 2, 0, 0),
 'High': 1190.0,
 'Adj_Close': 1189.01001,
 'Ticker': 'AMZN',
 'Low': 1170.51001,
 'Open': 1172.0,
 'index': 0,
 'Volume': 2694500}

In [24]:
for row in session.query(Stocks).limit(100).all():
    print(row.Date, row.Adj_Close, row.Ticker)

2018-01-02 00:00:00 1189.01001 AMZN
2018-01-03 00:00:00 1204.199951 AMZN
2018-01-04 00:00:00 1209.589966 AMZN
2018-01-05 00:00:00 1229.140015 AMZN
2018-01-08 00:00:00 1246.869995 AMZN
2018-01-09 00:00:00 1252.699951 AMZN
2018-01-10 00:00:00 1254.329956 AMZN
2018-01-11 00:00:00 1276.680054 AMZN
2018-01-12 00:00:00 1305.199951 AMZN
2018-01-16 00:00:00 1304.859985 AMZN
2018-01-17 00:00:00 1295.0 AMZN
2018-01-18 00:00:00 1293.319946 AMZN
2018-01-19 00:00:00 1294.579956 AMZN
2018-01-22 00:00:00 1327.310059 AMZN
2018-01-23 00:00:00 1362.540039 AMZN
2018-01-24 00:00:00 1357.51001 AMZN
2018-01-25 00:00:00 1377.949951 AMZN
2018-01-26 00:00:00 1402.050049 AMZN
2018-01-29 00:00:00 1417.680054 AMZN
2018-01-30 00:00:00 1437.819946 AMZN
2018-01-31 00:00:00 1450.890015 AMZN
2018-02-01 00:00:00 1390.0 AMZN
2018-02-02 00:00:00 1429.949951 AMZN
2018-02-05 00:00:00 1390.0 AMZN
2018-02-06 00:00:00 1442.839966 AMZN
2018-02-07 00:00:00 1416.780029 AMZN
2018-02-08 00:00:00 1350.5 AMZN
2018-02-09 00:00:00 1339.599976 AMZN
2018-02-12 00:00:00 1386.22998 AMZN
2018-02-13 00:00:00 1414.51001 AMZN
2018-02-14 00:00:00 1451.050049 AMZN
2018-02-15 00:00:00 1461.76001 AMZN
2018-02-16 00:00:00 1448.689941 AMZN
2018-02-20 00:00:00 1468.349976 AMZN
2018-02-21 00:00:00 1482.920044 AMZN
2018-02-22 00:00:00 1485.339966 AMZN
2018-02-23 00:00:00 1500.0 AMZN
2018-02-26 00:00:00 1521.949951 AMZN
2018-02-27 00:00:00 1511.97998 AMZN
2018-02-28 00:00:00 1512.449951 AMZN
2018-03-01 00:00:00 1493.449951 AMZN
2018-03-02 00:00:00 1500.25 AMZN
2018-03-05 00:00:00 1523.609985 AMZN
2018-03-06 00:00:00 1537.640015 AMZN
2018-03-07 00:00:00 1545.0 AMZN
2018-03-08 00:00:00 1551.859985 AMZN
2018-03-09 00:00:00 1578.890015 AMZN
2018-03-12 00:00:00 1598.390015 AMZN
2018-03-13 00:00:00 1588.180054 AMZN
2018-03-14 00:00:00 1591.0 AMZN
2018-03-15 00:00:00 1582.319946 AMZN
2018-03-16 00:00:00 1571.680054 AMZN
2018-03-19 00:00:00 1544.930054 AMZN
2018-03-20 00:00:00 1586.51001 AMZN
2018-03-21 00:00:00 1581.859985 AMZN
2018-03-22 00:00:00 1544.920044 AMZN
2018-03-23 00:00:00 1495.560059 AMZN
2018-03-26 00:00:00 1555.859985 AMZN
2018-03-27 00:00:00 1497.050049 AMZN
2018-03-28 00:00:00 1431.420044 AMZN
2018-03-29 00:00:00 1447.339966 AMZN
2018-04-02 00:00:00 1371.98999 AMZN
2018-04-03 00:00:00 1392.050049 AMZN
2018-04-04 00:00:00 1410.569946 AMZN
2018-04-05 00:00:00 1451.75 AMZN
2018-04-06 00:00:00 1405.22998 AMZN
2018-04-09 00:00:00 1406.079956 AMZN
2018-04-10 00:00:00 1436.219971 AMZN
2018-04-11 00:00:00 1427.050049 AMZN
2018-04-12 00:00:00 1448.5 AMZN
2018-04-13 00:00:00 1430.790039 AMZN
2018-04-16 00:00:00 1441.5 AMZN
2018-04-17 00:00:00 1503.829956 AMZN
2018-04-18 00:00:00 1527.839966 AMZN
2018-04-19 00:00:00 1556.910034 AMZN
2018-04-20 00:00:00 1527.48999 AMZN
2018-04-23 00:00:00 1517.859985 AMZN
2018-04-24 00:00:00 1460.089966 AMZN
2018-04-25 00:00:00 1460.170044 AMZN
2018-04-26 00:00:00 1517.959961 AMZN
2018-04-27 00:00:00 1572.619995 AMZN
2018-04-30 00:00:00 1566.130005 AMZN
2018-05-01 00:00:00 1582.26001 AMZN
2018-05-02 00:00:00 1569.680054 AMZN
2018-05-03 00:00:00 1572.079956 AMZN
2018-05-04 00:00:00 1580.949951 AMZN
2018-05-07 00:00:00 1600.140015 AMZN
2018-05-08 00:00:00 1592.390015 AMZN
2018-05-09 00:00:00 1608.0 AMZN
2018-05-10 00:00:00 1609.079956 AMZN
2018-05-11 00:00:00 1602.910034 AMZN
2018-05-14 00:00:00 1601.540039 AMZN
2018-05-15 00:00:00 1576.119995 AMZN
2018-05-16 00:00:00 1587.280029 AMZN
2018-05-17 00:00:00 1581.76001 AMZN
2018-05-18 00:00:00 1574.369995 AMZN
2018-05-21 00:00:00 1585.459961 AMZN
2018-05-22 00:00:00 1581.400024 AMZN
2018-05-23 00:00:00 1601.859985 AMZN
2018-05-24 00:00:00 1603.069946 AMZN

In [ ]:
from sqlalchemy import inspect

In [25]:
inspector = inspect(engine)

In [26]:
inspector.get_table_names()

['fang_stocks_2018_2020',
 'Amazon_stocks',
 'Apple_stocks',
 'Facebook_stocks',
 'Micrsoft_stocks',
 'Netflix_stocks',
 'Google_stocks',
 'Employee_numbers',
 'office_locations',
 'google_revenue',
 'facebook_quarter',
 'facebook_revenue']

In [27]:
Stocks =Base.classes.fang_stocks_2018_2020

In [34]:
offices = Base.classes.Employee_numbers

In [37]:
columns = inspector.get_columns('Employee_numbers')

In [ ]:
for col in columns:
    print(col[])