In [3]:
import pandas as pd
import csv
import os

In [4]:
Amzn = 'AMZN.csv'
Appl = 'APPL.csv'

In [5]:
Amazon = pd.read_csv(Amzn)

           Date         Open         High          Low        Close  \
0    2018-01-02  1172.000000  1190.000000  1170.510010  1189.010010
1    2018-01-03  1188.300049  1205.489990  1188.300049  1204.199951
2    2018-01-04  1205.000000  1215.869995  1204.660034  1209.589966
3    2018-01-05  1217.510010  1229.140015  1210.000000  1229.140015
4    2018-01-08  1236.000000  1253.079956  1232.030029  1246.869995
..          ...          ...          ...          ...          ...
750  2020-12-23  3205.000000  3210.129883  3184.169922  3185.270020
751  2020-12-24  3193.899902  3202.000000  3169.000000  3172.689941
752  2020-12-28  3194.000000  3304.000000  3172.689941  3283.959961
753  2020-12-29  3309.939941  3350.649902  3281.219971  3322.000000
754  2020-12-30  3341.000000  3342.100098  3282.469971  3285.850098

       Adj Close   Volume
0    1189.010010  2694500
1    1204.199951  3108800
2    1209.589966  3022100
3    1229.140015  3544700
4    1246.869995  4279500
..           ...      ...
750  3185.270020  2093800
751  3172.689941  1451900
752  3283.959961  5686800
753  3322.000000  4872900
754  3285.850098  3209300

[755 rows x 7 columns]